* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Eenheden */
    --unit-full: 100%;  
    --unit-device-height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@font-face {
    font-family: "Open sans";
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
}

/* Layout */
html {
    background-color: #f5f5f5;
    font-family: "Open sans", sans-serif;
}

main {
    background-attachment: local;
    background-image: url(/assets/noise.png);
    background-repeat: repeat-y;
    background-size: contain;
    height: var(--unit-device-height);
    opacity: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    width: var(--unit-full);
}

section.all-titles {
    padding-left: 30rem;
    padding-right:  7.5rem;
    padding-top: 40vh;
    position: absolute;
    z-index: 10;
}

/* Cirkels */
.circles div {
    height: var(--unit-device-height);
    position: relative;
    width: var(--unit-full);
}

.circles div span {
    animation: linear fade-in-on-enter--fade-out-on-exit;
    animation-timeline: view();
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: block;
    filter: blur(4px);
    height: auto;
    mix-blend-mode: color-burn;
    position: absolute;
    transform: translateY();
    z-index: 10;
}

.circles div span:nth-child(1) {
    background-color: #351EB6;
    left: 52rem;
    opacity: 0.3;
    position: fixed;
    top: 8rem;
    width: 16rem;
}

.circles div span:nth-child(2) {
    background-color: #EC1CCA;
    left: 28rem;
    opacity: 0.4;
    top: -8rem;
    width: 40rem;
}

.circles div span:nth-child(3) {
    background-color: #837602;
    left: 5rem;
    position: fixed;
    top: 2rem;
    width: 16rem;
}

.circles div span:nth-child(4) {
    background-color: #121212ce;
    left: 5rem;
    mix-blend-mode: overlay;
    top: 13rem;
    width: 64rem;
    z-index: 5;
}

.circles div span:nth-child(5) {
    background-color: #4894EC;
    left: -8rem;
    top: 32rem;
    width: 40rem;
}

.circles div span:nth-child(6) {
    background-color: #EC4848;
    left: 17rem;
    top: 36rem;
    width: 40rem;
}

.circles div span:nth-child(6) {
    background-color: #ECB11C;
    left: 31.5rem;
    opacity: 0.8;
    top: 55rem;
    width: 40rem;
}

.circles div span:nth-child(7) {
    background-color: #EC351C;
    left: 31.5rem;
    opacity: 0.8;
    top: 76.5rem;
    width: 40rem;
}

.circles div span:nth-child(8) {
    background-color: #1cec53;
    position: fixed;
    top: 30rem;
    width: 50rem;
}

.circles div span:nth-child(9) {
    background-color: #dd0c0c;
    mix-blend-mode: color;
    position: fixed;
    right: -14rem;
    top: 20rem;
    width: 50rem;
}

/* Vierkanten */
header {
    position: relative;
}

header div {
    aspect-ratio: 1/1;
    background-color: #351EB6;
    mix-blend-mode: color-burn;
    opacity: 0.8;
    position: absolute;
    transform: rotate(45deg);
    width: 20rem;
}

header div:first-child {
    left: -10rem;
    top: -10rem;
}

header div:last-child {
    right: -10rem;
    top: -10rem;
}

.squares {

    height: calc(80vh * 3)
}

.squares span {
    aspect-ratio: 1/1;
    filter: blur(12px);
    height: auto;
    mix-blend-mode: color-burn;
    position: absolute;
    right: 0;
    width: 20rem;
}

.squares span:nth-child(1){
    background-color: crimson;
    right: -10rem;
    rotate: 45deg;
    top: 85vh;
}

.squares span:nth-child(2){
    background-color: crimson;
    left: -10rem;
    rotate: 45deg;
    top: calc(85vh * 2);
}

.squares span:nth-child(3) {
    background-color: #02837C;
    position: absolute;
    right: 5rem;
    rotate: 45deg;
    top: 130rem;
    width: 40rem;
}   

.squares span:nth-child(4) {
    left: 0;
    top: 90rem;
    width: 40rem;
}

/* Typografie */
h1 {
    filter: brightness(0.9) opacity(0.9);
    font-size: 4.5rem;
    line-height: 1;
    max-width: 18rem;
    position: absolute;
}

h1::before {
    bottom: 0.5rem;
    content: '';
    display: block;
    height: 8px;
    left: -101rem;
    position: absolute;
    width: 100rem;
}

.top-title, .end-title {
    left: 4px;
}

.top-title {
    color: #4894EC;
}

.top-title::before {
    background-color: #4894EC;
    bottom: 4px;
}

.scroll-title {
    color: #F25379;
    position: fixed;
}

.scroll-title::before {
    background-color: #F25379;
    width: calc(100rem + 4px);
}

.end-title {
    color: #11828f;
    top: 103rem;
}

.end-title::before {
    background-color: #11828f;
    top: 7.8rem;
}

.titles {
    align-items: end;
    display: flex;
    height: 5rem;
    position: absolute;
    width: 18rem;
}

.titles h1 {
    mix-blend-mode: multiply;
}

.sticky-paragraphs {
    height: calc(var(--unit-device-height) * 3);
}

p {
    display: flex;
    filter: brightness(0.9) opacity(0.75);
    font-family: "Open sans";
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
    max-width: 45rem;
    position: sticky;
    top: 0;
}

.sticky-paragraphs p:nth-child(1) {
    top: 27.5rem;
} 

.sticky-paragraphs p:nth-child(2) {
    margin-top: var(--unit-device-height);
    top: calc(27.5rem + 4.5rem);
}

.sticky-paragraphs p:nth-child(3) {
    margin-top: var(--unit-device-height);
    top: calc(27.5rem + 11.5rem);
}

.sticky-paragraphs p:first {
   top: 25rem;
}

/* Afbeelding Grumpy cat */
.grumpy-cat {
    left: 52rem;
    mix-blend-mode: multiply;
    position: absolute;
    position: fixed;
    top: 5rem;
}

@supports(animation-timeline: view()) {
    @keyframes fade-in-on-enter--fade-out-on-exit {
        entry 0%  {
            opacity: 0;
            transform: translateY(100%);
        }
        entry 100%  {
            opacity: 1;
            transform: translateY(0);
        }
        exit 0% {
            opacity: 1;
            transform: translateY(0);
        }
        exit 100% {
            opacity: 0;
            transform: translateY(-100%);
        }
    }
    .circles div span {
        animation: linear fade-in-on-enter--fade-out-on-exit;
        animation-timeline: view();
    }
}